<!DOCTYPE html>
<html>
<body>

<h2>Visualization</h2>
<p>Note that the line color is green to indicate that the path returned to the origin of the walk and is red to idicate the path never returned.</p>

<img src="upload/walk0.gif" alt="GIF Visualization"/>

<form action="/random-walk-visualization">
  <input type="submit" value="Run Another Visualization">
</form> 

<br>

<h3>Past 10 Visualizations</h3>
<div class="row">
  <div class="column"><img src="upload/walk1.gif" alt="GIF Visualization"/></div>
  <div class="column"><img src="upload/walk2.gif" alt="GIF Visualization"/></div>
</div>
<div class="row">
  <div class="column"><img src="upload/walk3.gif" alt="GIF Visualization"/></div>
  <div class="column"><img src="upload/walk4.gif" alt="GIF Visualization"/></div>
</div>
<div class="row">
  <div class="column"><img src="upload/walk5.gif" alt="GIF Visualization"/></div>
  <div class="column"><img src="upload/walk6.gif" alt="GIF Visualization"/></div>
</div>
<div class="row">
  <div class="column"><img src="upload/walk7.gif" alt="GIF Visualization"/></div>
  <div class="column"><img src="upload/walk8.gif" alt="GIF Visualization"/></div>
</div>
<div class="row">
  <div class="column"><img src="upload/walk9.gif" alt="GIF Visualization"/></div>
  <div class="column"><img src="upload/walk10.gif" alt="GIF Visualization"/></div>
</div>

</body>
</html>